{% extends "auctions/layout.html" %}

{% block body %}
    {% if won_auctions %}
        <h2>Listings won:</h2>
        {% for auction in won_auctions %}
            <a class="card" href="{% url 'detail' auction.auction.id %}">
                <div class="item-card">
                    <img src="{{ auction.auction.url }}">
                    <div class="item-desc">
                        <div>
                            <p class="title">{{ auction.auction.product }}</p>
                        </div>
                        <div>
                            <p>Created: {{ auction.auction.date }}</p>
                            <p>.</p>
                            <p>Category: {{ auction.auction.category }}</p>
                        </div>
                        <p>{{ auction.auction.description }}</p>
                        {% if auction.auction.bids.first.bid_amount == None %}
                            <p class="title">Price: $ {{ auction.auction.starting_price }}</p>
                        {% else %}
                            <p class="title">Price: $ {{ auction.auction.bids.first.bid_amount }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
    <h2>Listings watchlisted:</h2>
    {% if user_watchlist %}
        {% for auctions in user_watchlist %}
                <a class="card" href="{% url 'detail' auctions.auction.id %}">
                    <div class="item-card">
                        <img src="{{ auctions.auction.url }}">
                        <div class="item-desc">
                            <div>
                                <p class="title">{{ auctions.auction.product }}</p>
                            </div>
                            <div>
                                <p>Created: {{ auctions.auction.date }}</p>
                                <p>.</p>
                                <p>Category: {{ auctions.auction.category }}</p>
                            </div>
                            <p>{{ auctions.auction.description }}</p>
                            {% if auctions.auction.bids.first.bid_amount == None %}
                                <p class="title">Price: $ {{ auctions.auction.starting_price }}</p>
                            {% else %}
                                <p class="title">Price: $ {{ auctions.auction.bids.first.bid_amount }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
        {% endfor %}
    {% else %}
        <div class="notif">
            You have no listings in your watchlist.
        </div>
    {% endif %}
{% endblock %}
